{% extends 'base.html' %} {% block header %} {% endblock %} {% block content %}
{% include 'partials/_messages.html'%}
<h1 class="my-3">Edit {{ post['title'] }}</h1>

<form method="post">
  <div class="form-group">
    <label for="title">Title</label>
    <input
      name="title"
      id="title"
      class="form-control"
      value="{{ request.form['title'] or post['title'] }}"
      required
    />
  </div>
  <div class="form-group">
    <label for="body">Body</label>
    <textarea class="form-control" name="body" id="body">
{{ request.form['body'] or post['body'] }}</textarea
    >
  </div>
  <input
    type="submit"
    class="btn btn-sm btn-primary btn-lg mt-3"
    value="Save"
  />
</form>
<hr />
<form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
  <input
    class="btn btn-danger btn-sm"
    type="submit"
    value="Delete"
    onclick="return confirm('Are you sure?');"
  />
</form>
{% endblock %}
